APP_NAME=Spektra
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=spektra
DB_USERNAME=spektra_user
DB_PASSWORD=

CACHE_STORE=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAIL_MAILER=log

TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3
RAWG_API_KEY=
RAWG_BASE_URL=https://api.rawg.io/api
OPENLIBRARY_BASE_URL=https://openlibrary.org
YOUTUBE_API_KEY=
